acm-plugins/acm-default-plugins/acm-task-plugin/src/main/resources/flows/acmTaskToSolrFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      version="CE-3.7.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">


    <flow name="jmsSendTaskToSolr"
          doc:name="Send Tasks to SOLR"
          doc:description="Send tasks to the SOLR quick search and Advanced Search collections.  Payload must be an AcmTaskEvent pojo.">

        <jms:inbound-endpoint
                queue="taskToSolr.in"
                exchange-pattern="one-way"
                connector-ref="ActiveMQ-ACM"
                doc:name="JMS" />

        <timer-interceptor/>

        <echo-component doc:name="Echo"/>

        <scripting:transformer name="extractAcmTaskTransformer">
            <scripting:script engine="groovy">
                <scripting:text><![CDATA[
                    payload = muleContext.registry.get("arkContext").getBean("extractAcmTaskFromEvent").fromEvent(payload);

                    message.setInvocationProperty("advancedSearchDoc", muleContext.registry.get("arkContext").getBean("taskToSolrTransformer").toSolrAdvancedSearch(payload));
                    message.setInvocationProperty("quickSearchDoc", muleContext.registry.get("arkContext").getBean("taskToSolrTransformer").toSolrQuickSearch(payload));
                    message.setInvocationProperty("advancedSearchJson", muleContext.registry.get("arkContext").getBean("sendDocumentsToSolr").asJsonArray(message.getInvocationProperty("advancedSearchDoc")));
                    message.setInvocationProperty("quickSearchJson", muleContext.registry.get("arkContext").getBean("sendDocumentsToSolr").asJsonArray(message.getInvocationProperty("quickSearchDoc")));

                    return payload;
                    ]]>
                </scripting:text>
            </scripting:script>
        </scripting:transformer>


        <logger level="DEBUG" category="com.armedia.acm.plugins.task.service" message="Got ACM task"/>

        <logger level="DEBUG" category="com.armedia.acm.plugins.task.service" message="Got quick search json"/>

        <set-payload value="#[advancedSearchJson]"/>
        <http:outbound-endpoint ref="submitAdvancedSearchDocumentsSolrEndpoint" />

        <logger level="DEBUG" category="com.armedia.acm.plugins.task.service" message="Sent to SOLR advanced search"/>

        <set-payload value="#[quickSearchJson]"/>
        <http:outbound-endpoint ref="submitQuicksearchDocumentsSolrEndpoint" />

        <logger level="DEBUG" category="com.armedia.acm.plugins.task.service" message="Sent to SOLR quick search"/>
    </flow>

</mule>