acm-plugins/acm-default-plugins/acm-task-plugin/src/main/resources/flows/copyTaskFilesAndFoldersToParentFlow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
    version="CE-3.9.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <flow name="jmsCopyTaskFilesAndFoldersToParentFlow">
        <jms:inbound-endpoint queue="copyTaskFilesAndFoldersToParent.in" exchange-pattern="request-response" connector-ref="ActiveMQ-ACM"
            doc:name="JMS copy task files"/>
        <logger level="DEBUG" category="com.armedia.plugins.task.service"/>

        <scripting:transformer name="transformerCopyTaskFiles">
            <scripting:script engine="groovy">
                <scripting:text><![CDATA[

                        // ensure we set the right modifier and creator for any objects we end up inserting or updating
                        muleContext.registry.get("arkContext").getBean("auditPropertyEntityAdapter").setUserId(message.payload.getUserId());

                        muleContext.registry.get("arkContext").getBean("acmTaskService").copyTaskFilesAndFoldersToParent(message.payload.getAcmTask());

                        return payload;
                        ]]>
                </scripting:text>
            </scripting:script>
        </scripting:transformer>

        <catch-exception-strategy>
            <logger level="ERROR" category="com.armedia.acm.plugins.task.service" message="Exception executing: #[exception.message]"/>
            <set-property propertyName="executionException" value="#[exception]"/>
        </catch-exception-strategy>
    </flow>

</mule>