acm-plugins/acm-default-plugins/acm-report-plugin/src/main/resources/flows/getPentahoReportsFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      version="CE-3.5.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    
    <http:endpoint
            name="pentaho-reports"
    		address="http://#[payload]"
            doc:name="http-pentaho-reports"/>

    <flow name="getPentahoReports" doc:name="Get Reports from Pentaho server">

        <vm:inbound-endpoint
                address="vm://getPentahoReports.in"
                exchange-pattern="request-response"
                doc:name="Get Pentaho Reports">
        </vm:inbound-endpoint>

        <logger level="DEBUG" category="com.armedia.acm.plugins.report"/>

        <http:outbound-endpoint exchange-pattern="request-response" 
                                method="GET"
                                doc:name="Get Pentaho Reports" ref="pentaho-reports">
            <response>
                <object-to-string-transformer/>
            </response>
        </http:outbound-endpoint>
        
        <catch-exception-strategy>
            <logger level="ERROR" category="com.armedia.acm.plugins.report" message="Exception saving: #[exception.message]"/>
            <set-property propertyName="getPantehoReportsException" value="#[exception]"/>
        </catch-exception-strategy>

    </flow>

</mule>