acm-plugins/acm-default-plugins/acm-report-plugin/src/main/resources/flows/getPentahoReportsSecureFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:https="http://www.mulesoft.org/schema/mule/https" version="CE-3.9.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.5/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.5/mule-vm.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/3.5/mule-https.xsd">

    <https:endpoint name="https-pentaho-reports" address="https://#[payload]" doc:name="https-pentaho-reports"/>

    <flow name="getPentahoReportsSecure" doc:name="Get Reports from Pentaho server - Secure">

        <vm:inbound-endpoint connector-ref="arkcase-vm-connector" address="vm://getPentahoReportsSecure.in"
            exchange-pattern="request-response"
            doc:name="Get Pentaho Reports - Secure"></vm:inbound-endpoint>

        <logger level="DEBUG" category="com.armedia.acm.plugins.report"/>

        <https:outbound-endpoint exchange-pattern="request-response" method="GET" doc:name="Get Pentaho Reports"
            ref="https-pentaho-reports">
            <message-properties-transformer scope="outbound">
                <add-message-property key="X-ARKCASE-EXTERNAL-USER" value="#[message.inboundProperties.username]"/>
            </message-properties-transformer>
            <response>
                <object-to-string-transformer/>
            </response>
        </https:outbound-endpoint>

        <catch-exception-strategy>
            <logger level="ERROR" category="com.armedia.acm.plugins.report" message="Exception saving: #[exception.message]"/>
            <set-property propertyName="getPantehoReportsException" value="#[exception]"/>
        </catch-exception-strategy>

    </flow>

</mule>