acm-services/acm-service-ecm/src/main/resources/flows/addFileFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      version="CE-3.5.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/cmis http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd">


    <flow name="addFile" doc:name="Add a File to the CMIS Repository">
        <description>The payload must be an EcmFile object, which should be populated with the
            file's MIME type and filename. The inbound properties must include these properties:
               - "inputStream" - an InputStream with the file contents.
               - "cmisFolderId" - a string with the CMIS ID of the parent folder.  The file will be added to this folder.
            The return payload is the new CMIS document.
        </description>
        <vm:inbound-endpoint
                address="vm://addFile.in"
                exchange-pattern="request-response"
                doc:name="Add File">
        </vm:inbound-endpoint>

        <logger level="DEBUG" category="com.armedia.acm.plugins.ecm"/>

        <timer-interceptor/>

        <cmis:create-document-by-id-from-content
            content-ref="#[message.inboundProperties.inputStream]"
            filename="#[payload.fileName]"
            folderId="#[message.inboundProperties.cmisFolderId]"
            mimeType="#[payload.fileMimeType]"
            objectType="cmis:document"
            versioningState="MAJOR"/>
        <logger level="DEBUG" category="com.armedia.acm.plugins.ecm"/>
        <cmis:get-object-by-id objectId="#[payload.id]"/>

        <logger level="DEBUG" category="com.armedia.acm.plugins.ecm"/>

    </flow>
</mule>