acm-services/acm-service-ecm/src/main/resources/flows/addNewFolderFlow.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core
               http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/cmis
               http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd
               http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <flow name="addNewFolder">
        <vm:inbound-endpoint
                doc:name="Create a folder"
                address="vm://addNewFolder.in"
                exchange-pattern="request-response"/>

        <cmis:create-folder folderName="#[message.inboundProperties.newFolderName]" parentObjectId="#[message.inboundProperties.parentFolderId]"/>

        <cmis:get-object-by-id objectId="#[payload.id]"/>

        <catch-exception-strategy>
            <logger level="ERROR" category="com.armedia.acm.plugins.ecm" message="Exception creating new folder: #[exception.message]"/>
            <set-property propertyName="addNewFolderException" value="#[exception]"/>
        </catch-exception-strategy>


    </flow>

</mule>