acm-services/acm-service-ecm/src/main/resources/flows/createFolderByPathFlow.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core
               http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/cmis
               http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd
               http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <flow name="createFolderByPath">
        <vm:inbound-endpoint
                doc:name="Create a folder by path"
                address="vm://createFolderByPath.in"
                exchange-pattern="request-response"/>
        <cmis:get-or-create-folder-by-path config-ref="#[message.inboundProperties.configRef]" folderPath="#[message.inboundProperties.ecmFolderPath]"/>

        <logger level="INFO" category="com.armedia.acm.plugins.ecm" message="PATH: #[message.inboundProperties.ecmFolderPath]"/>
        <catch-exception-strategy>
            <logger level="ERROR" category="com.armedia.acm.plugins.ecm" message="Exception creating new folder by path: #[exception.message]"/>
            <set-property propertyName="createFolderByPathException" value="#[exception]"/>
        </catch-exception-strategy>
    </flow>

</mule>
