acm-services/acm-service-ecm/src/main/resources/flows/createFolderFlow.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core
               http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/cmis
               http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd
               http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <flow name="createFolder">
        <vm:inbound-endpoint
                doc:name="Create a folder"
                address="vm://createFolder.in"
                exchange-pattern="request-response"/>
        <cmis:get-or-create-folder-by-path folderPath="#[payload]"/>
    </flow>

</mule>