acm-services/acm-service-ecm/src/main/resources/flows/deleteFileFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      version="CE-3.7.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/cmis http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <flow name="deleteFile" doc:name="Delete a file">
        <description>
            The file will be deleted. There will be no payload only inboundProperties where ecmFileId will be passed to the flow.
        </description>

        <vm:inbound-endpoint
                address="vm://deleteFile.in"
                exchange-pattern="request-response"
                doc:name="Delete File">
        </vm:inbound-endpoint>

        <logger level="DEBUG" category="com.armedia.acm.plugins.ecm"/>

        <!-- NOTE: Intellij IDEA incorrectly claims scripting:transformer is not allowed here. This XML is valid. -->
        <scripting:transformer name="checkAllVersions">
            <scripting:script engine="groovy">
                <scripting:text><![CDATA[
                    if ( message.getInboundProperty("allVersions") == null )
                    {
                        message.setInboundProperty("allVersions", false);
                    }
                    return payload;
                    ]]>
                </scripting:text>
            </scripting:script>
        </scripting:transformer>

        <cmis:delete config-ref="#[message.inboundProperties.configRef]"
                     objectId="#[message.inboundProperties.ecmFileId]"
                     allVersions="#[message.inboundProperties.allVersions]"/>


        <catch-exception-strategy>
            <logger level="ERROR" category="com.armedia.acm.plugins.ecm" message="Exception saving: #[exception.message]"/>
            <set-property propertyName="deleteException" value="#[exception]"/>
        </catch-exception-strategy>

    </flow>

</mule>
