acm-services/acm-service-ecm/src/main/resources/flows/deleteFolderFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      version="CE-3.5.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/cmis http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd">

    <flow name="deleteFolder" doc:name="Delete Folder">
        <description>
            The folder will be deleted if does not contain any children elements.
        </description>

        <vm:inbound-endpoint
                address="vm://deleteFolder.in"
                exchange-pattern="request-response"
                doc:name="Delete Folder">
        </vm:inbound-endpoint>


        <enricher target="#[flowVars['children']]">
            <cmis:folder get="CHILDREN" folderId="#[message.inboundProperties.acmFolderId]"/>
        </enricher>

        <choice>
            <when expression="#[flowVars['children'].pageNumItems == 0]">
                <cmis:delete objectId="#[message.inboundProperties.acmFolderId]"/>
            </when>
            <otherwise>
                <set-property propertyName="isFolderNotEmpty" value="true"/>
            </otherwise>
        </choice>


		<catch-exception-strategy>
            <logger level="ERROR" category="com.armedia.acm.plugins.ecm" message="Exception saving: #[exception.message]"/>
            <set-property propertyName="deleteFolderException" value="#[exception]"/>
        </catch-exception-strategy>

    </flow>

</mule>