acm-services/acm-service-ecm/src/main/resources/flows/getObjectByPathFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core
               http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/cmis
               http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd
               http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <flow name="getObjectByPath">
        <vm:inbound-endpoint
                doc:name="Lookup a CMIS object by path"
                address="vm://getObjectByPath.in"
                exchange-pattern="request-response"/>

        <cmis:get-object-by-path config-ref="#[message.inboundProperties.configRef]" path="#[message.payload]"/>

        <catch-exception-strategy>
            <logger level="ERROR" category="com.armedia.acm.plugins.ecm"
                    message="Exception while finding object by path: #[exception.message]"/>
            <set-property propertyName="findObjectByPathException" value="#[exception]"/>
        </catch-exception-strategy>

    </flow>

</mule>
