acm-services/acm-service-ecm/src/main/resources/flows/moveFolderFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      version="CE-3.5.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/cmis http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd">

    <flow name="moveFolder" doc:name="Move a folder from one location to other">
        <description>
            The incoming payload is EcmFile that should be updated. The return payload is the updated CMIS document.
            If the object ID does not represent a CMIS document while check-out/check-in, the flow returns the Mule NullPayload.
        </description>

        <vm:inbound-endpoint
                address="vm://moveFolder.in"
                exchange-pattern="request-response"
                doc:name="Move Folder">
        </vm:inbound-endpoint>

        <logger level="DEBUG" category="com.armedia.acm.plugins.ecm"/>

        <enricher target="#[flowVars['parentObject']]">
            <cmis:get-parent-folders objectId="#[message.inboundProperties.acmFolderId]"/>
        </enricher>

        <logger level="INFO" category="com.armedia.acm.plugins.ecm" message="MARJAN  parentID: #[flowVars['parentObject'].id]"/>

        <cmis:move-object objectId="#[message.inboundProperties.acmFolderId]"
                          sourceFolderId="#[flowVars['parentObject'].id]"
                          targetFolderId="#[message.inboundProperties.dstFolderId]"/>


		<catch-exception-strategy>
            <logger level="ERROR" category="com.armedia.acm.plugins.ecm" message="Exception saving: #[exception.message]"/>
            <set-property propertyName="moveFolderException" value="#[exception]"/>
        </catch-exception-strategy>

    </flow>

</mule>