acm-services/acm-service-ecm/src/main/resources/flows/renameFolderFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      version="CE-3.5.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/cmis http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd">

<flow name="renameFolder" doc:name="Rename Folder">
        <description>
        </description>

        <vm:inbound-endpoint
                address="vm://renameFolder.in"
                exchange-pattern="request-response"
                doc:name="Rename Folder">
        </vm:inbound-endpoint>

        <timer-interceptor/>

        <logger level="DEBUG" category="com.armedia.acm.plugins.ecm"/>

        <enricher target="#[flowVars['folder']]">
            <cmis:get-object-by-id objectId="#[message.inboundProperties.acmFolderId]"/>
        </enricher>

        <logger level="DEBUG" category="com.armedia.acm.plugins.ecm" message="CMIS Folder ID: #[flowVars['folder'].id]"/>
        <logger level="DEBUG" category="com.armedia.acm.plugins.ecm" message="ACM Folder ID: #[message.inboundProperties.acmFolderId]"/>
        <logger level="DEBUG" category="com.armedia.acm.plugins.ecm" message="The CMIS OBJECT: #[flowVars['folder']]"/>

        <cmis:update-object-properties objectId="#[message.inboundProperties.acmFolderId]" cmisObject-ref="#[flowVars['folder']]">
            <cmis:properties>
                <cmis:property key="cm:name" value-ref="#[message.inboundProperties.newFolderName]"/>
            </cmis:properties>
        </cmis:update-object-properties>


		<catch-exception-strategy>
            <logger level="ERROR" category="com.armedia.acm.plugins.ecm" message="Exception renaming: #[exception.message]"/>
            <set-property propertyName="renameFolderException" value="#[exception]"/>
        </catch-exception-strategy>

    </flow>

</mule>