acm-services/acm-service-ecm/src/main/resources/flows/renameFileFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
      version="CE-3.5.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/cmis http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd">

    <flow name="renameFile" doc:name="Rename File">
        <description>
            The incoming payload is EcmFile that should be renamed. The return payload is the renamed CMIS document.
            If the object ID does not represent a CMIS document while check-out/check-in, the flow returns the Mule NullPayload.
        </description>

        <vm:inbound-endpoint
                address="vm://renameFile.in"
                exchange-pattern="request-response"
                doc:name="Rename File">
        </vm:inbound-endpoint>

        <logger level="DEBUG" category="com.armedia.acm.plugins.ecm"/>

        <timer-interceptor/>

        <!--//This will return the document content stream-->
        <enricher target="#[flowVars['stream']]">
            <cmis:get-content-stream objectId="#[message.inboundProperties.ecmFileId]"/>
        </enricher>

        <!--//This will return objectId and will create PWC (private working copy of the documenet)-->
        <enricher target="#[flowVars['object']]">
		        <cmis:check-out documentId="#[message.inboundProperties.ecmFileId]"/>
		</enricher>


		<!-- This will check-in the PWC of the document into Alfresco with new name and same content-->
		<cmis:check-in filename="#[message.inboundProperties.newFileName"
		               documentId="#[flowVars['object'].id]"
					   content-ref="#[flowVars['stream'].contentStream]"
					   checkinComment="Renaming file"
					   major="true"
					   mimeType="#[[flowVars['object'].mimeType"/>

        <cmis:get-object-by-id objectId="#[payload.id]"/>
					   
		<catch-exception-strategy>
            <logger level="ERROR" category="com.armedia.acm.plugins.ecm" message="Exception saving: #[exception.message]"/>
            <set-property propertyName="updateException" value="#[exception]"/>
        </catch-exception-strategy>

    </flow>

</mule>