acm-services/acm-service-ecm/src/main/resources/flows/sendChangedParticipantsToAlfrescoFlow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    version="CE-3.9.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <flow name="jmsSendArkcaseParticipantChangeToContentRepoFlow">
        <jms:outbound-endpoint queue="com.armedia.acm.v1.arkcaseParticipantChange.queue" exchange-pattern="request-response"
            connector-ref="ActiveMQ-ACM"
            doc:name="JMS send of changed participants to alfresco"/>

        <logger level="DEBUG" category="com.armedia.acm.plugins.ecm"/>

        <catch-exception-strategy>
            <logger level="ERROR" category="com.armedia.acm.plugins.ecm" message="Exception saving: #[exception.message]"/>
            <set-property propertyName="changedParticipantsException" value="#[exception]"/>
        </catch-exception-strategy>
    </flow>

</mule>