acm-services/acm-service-transcribe/src/main/resources/flows/getProviderTranscribeFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      version="CE-3.9.0"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <https:endpoint name="getProviderTranscribeEndpoint"
                    address="https://#[payload]"
                    method="GET"
                    doc:name="Get Transcription from provider side"></https:endpoint>

    <flow name="getProviderTranscribeFlow" doc:name="Get Provider Transcribe Flow">
        <vm:inbound-endpoint address="vm://getProviderTranscribe.in" exchange-pattern="request-response"
                             doc:name="Get Provider Transcribe Flow - VM"/>

        <logger category="com.armedia.acm.services.transcribe.provider.aws.service" level="DEBUG"/>

        <https:outbound-endpoint ref="getProviderTranscribeEndpoint">
            <response>
                <object-to-string-transformer/>
            </response>
        </https:outbound-endpoint>

        <catch-exception-strategy>
            <logger level="ERROR" category="com.armedia.acm.services.transcribe.provider.aws.service" message="#[exception.message]"/>
            <set-property propertyName="getProviderTranscribeException" value="#[exception]"/>
        </catch-exception-strategy>

    </flow>

</mule>