acm-services/acm-service-notification/src/main/resources/flows/sendEmailViaOutlookFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    version="CE-3.9.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd

http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <flow name="sendEmailViaOutlook" doc:name="Send notification to the user by email.">

        <vm:inbound-endpoint connector-ref="arkcase-vm-connector" address="vm://sendEmailViaOutlook.in" exchange-pattern="request-response"
            doc:name="Send Email"></vm:inbound-endpoint>

        <scripting:transformer name="sendEmailTransformer">
            <scripting:script engine="groovy">
                <scripting:text><![CDATA[
                    muleContext.registry.get("arkContext").getBean("outlookService").sendEmail(message.getInboundProperty("emailInfo"), message.getInboundProperty("user"), message.getInboundProperty("authentication"));
                    return payload;
                    ]]>
                </scripting:text>
            </scripting:script>

        </scripting:transformer>

        <catch-exception-strategy>
            <set-property propertyName="sendEmailException" value="#[exception]"/>
        </catch-exception-strategy>

    </flow>

</mule>