acm-plugins/acm-default-plugins/acm-ecm-plugin/src/main/resources/flows/downloadFileFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      version="CE-3.4.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/cmis http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd">

    <flow name="downloadFileFlow" doc:name="Get the file content stream from the ECM repository">
        <description>
            The incoming payload must be a CMIS object ID of a document object.  This flow returns an Apache
            Chemistry content stream.  If the object ID does not represent a CMIS document, the flow returns the
            Mule NullPayload.
        </description>

        <vm:inbound-endpoint
                address="vm://downloadFileFlow.in"
                exchange-pattern="request-response"
                doc:name="Download File">
        </vm:inbound-endpoint>

        <logger level="DEBUG" category="com.armedia.acm.plugins.ecm"/>

        <timer-interceptor/>

        <cmis:get-content-stream objectId="#[message.payload]"/>


    </flow>


</mule>