acm-services/acm-service-search/src/main/resources/flows/advancedSuggestSearchQueryFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.mulesoft.org/schema/mule/core" version="CE-3.9.0"
      xsi:schemaLocation="
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
                          http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <!-- AFDP-7210 switch to new-style HTTP transport, to enable TLSv1.2 -->
    <http:request-config name="solr-suggest-search" protocol="HTTPS" host="#[flowVars['host']]" port="#[flowVars['port']]"/>

    <flow name="advancedSuggestQuery" doc:name="Advanced Suggester Search Query Flow">
        <vm:inbound-endpoint connector-ref="arkcase-vm-connector" address="vm://advancedSuggesterQuery.in"
                             exchange-pattern="request-response" doc:name="VM"/>
        <logger category="com.armedia.acm.plugins.search" level="DEBUG"/>

        <timer-interceptor/>

        <!-- NOTE: Intellij IDEA incorrectly claims scripting:transformer is not allowed here. This XML is valid. -->
        <scripting:transformer name="advancedSuggestDataAccessControlFilters">
            <scripting:script engine="groovy" file="scripts/dataAccessFilter.groovy"/>
        </scripting:transformer>

        <scripting:component doc:name="Script">
            <scripting:script engine="groovy"><![CDATA[
                import com.armedia.acm.services.search.model.solr.SolrConfig

                SolrConfig solrConfig = muleContext.registry.get("arkContext").getBean("solrConfig")
	    	    message.setInvocationProperty("host", solrConfig.getHost())
	    	    message.setInvocationProperty("port", solrConfig.getPort())
	    	    message.setInvocationProperty("contextRoot", solrConfig.getContextRoot())
	    	    message.setInvocationProperty("advancedSearchCore", solrConfig.getAdvancedSearchCore())
	    	    message.setInvocationProperty("suggestHandler", solrConfig.getSuggestHandler())
	        ]]>
            </scripting:script>
        </scripting:component>

        <set-payload
                value="df=suggest_ngram&amp;q=#[message.inboundProperties['query']]&amp;fq=#[message.inboundProperties['dataAccessFilter']]&amp;fq=#[message.inboundProperties['denyAccessFilter']]&amp;fq=#[message.inboundProperties['childObjectFilterQuery']]&amp;dac=#[message.inboundProperties['childObjectDacFilter']]&amp;fq=#[message.inboundProperties['isSubscribed']]&amp;start=#[message.inboundProperties['firstRow']]&amp;rows=#[message.inboundProperties['maxRows']]&amp;wt=json&amp;sort=#[message.inboundProperties['sort']]&amp;#[message.inboundProperties['rowQueryParametars']]#[message.inboundProperties['df'] != empty ? '&amp;df=' + message.inboundProperties['df'] : '']"/>

        <logger category="com.armedia.acm.plugins.search" level="DEBUG"/>

        <http:request config-ref="solr-suggest-search"
                      path="/#[flowVars['contextRoot']]/#[flowVars['advancedSearchCore']]/#[flowVars['suggestHandler']]"
                      method="POST">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/x-www-form-urlencoded; charset=UTF-8"/>
            </http:request-builder>
        </http:request>

        <object-to-string-transformer/>

    </flow>

</mule>
