acm-services/acm-service-search/src/main/resources/flows/contentFileToSolrFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis" xmlns:json="http://www.mulesoft.org/schema/mule/json"
      version="CE-3.5.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cmis http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/3.6/mule-json.xsd">


    <http:endpoint name="http.submitContentFiles"
                   address="http://${solr.host}:${solr.port}/${solr.contextRoot}/${solr.advancedsearch.core}/${solr.contentFileHandler}?overwrite=true&amp;literal.id=#[flowVars['docId']]&amp;literal.object_type_s=#[flowVars['objectType']]&amp;literal.modified_date_tdt=#[flowVars['modified']]&amp;literal.modifier_lcs=#[flowVars['modifier']]&amp;literal.create_date_tdt=#[flowVars['created']]&amp;literal.creator_lcs=#[flowVars['creator']]&amp;literal.name=#[flowVars['name']]&amp;literal.parent_id_s=#[flowVars['parentId']]&amp;literal.parent_type_s=#[flowVars['parentType']]&amp;literal.parent_number_lcs=#[flowVars['parentName']]"
                   encoding="UTF-8"
                   method="POST"
                   exchange-pattern="request-response"
                   contentType="#[flowVars['contentType']]"
                   doc:name="Send Content File to SOLR">
    </http:endpoint>

    <flow name="jmsSendContentFileToSolr"
          doc:name="Send Content File to SOLR"
          doc:description="Send documents to the SOLR advanced search collection.  Payload must be a JSON-formatted
                           string consisting of an array of documents.  Each element of the array must be a JSON
                           object with property names corresponding to valid SOLR field names.">

        <jms:inbound-endpoint
                queue="solrContentFile.in"
                exchange-pattern="request-response"
                connector-ref="ActiveMQ-ACM"
                doc:name="JMS" />



        <json:json-to-object-transformer name="ecmFileObject"
                                         returnClass="java.util.List"/>

        <logger category="com.armedia.acm.services.search.service" level="DEBUG" message="MARJAN: #[ecmFileObject.get(0).id]" />
        <!--<component class="com.armedia.acm.services.search.model.solr.SolrAdvancedSearchDocument" />-->

        <timer-interceptor/>

        <logger category="com.armedia.acm.services.search.service" level="DEBUG"/>
        
        <set-variable variableName="docId" value="FILE-#[message.payload.id]"/>
        <set-variable variableName="contentType" value="#[message.payload.content_type]"/>
        <set-variable variableName="objectType" value="#[message.payload.object_type_s]"/>
        <set-variable variableName="created" value="#[message.payload.create_date_tdt]"/>
        <set-variable variableName="creator" value="#[message.payload.creator_lcs]"/>
        <set-variable variableName="modified" value="#[message.payload.modified_date_tdt]"/>
        <set-variable variableName="modifier" value="#[message.payload.modifier_lcs]"/>
        <set-variable variableName="name" value="#[message.payload.name]"/>
        <set-variable variableName="parentId" value="#[message.payload.parent_id"/>
        <set-variable variableName="parentType" value="#message.payload.parent_type_s"/>
        <set-variable variableName="parentName" value="#message.payload.parent_number_lcs"/>

        <!--<set-variable variableName="parent" value="#[org.mule.util.CollectionUtils.get(payload.parentObjects, 0)]"/>-->

        <logger category="com.armedia.acm.services.search.service" level="DEBUG" message="Doc ID: #[flowVars['docId']]" />

        <cmis:get-content-stream
            objectId="#[message.payload.ecmFileId]"/>   
        
        <set-payload value="#[message.payload.stream]"/>

        <http:outbound-endpoint ref="http.submitContentFiles">
            <response>
                <object-to-string-transformer/>
            </response>
        </http:outbound-endpoint>
    </flow>

</mule>