acm-services/acm-service-search/src/main/resources/flows/contentFileToSolrFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
    xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:cmis="http://www.mulesoft.org/schema/mule/cmis" version="CE-3.7.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.mulesoft.org/schema/mule/cmis http://www.mulesoft.org/schema/mule/cmis/current/mule-cmis.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <https:endpoint name="submitContentFilesSolrEndpoint"
        address="https://${solr.host}:${solr.port}/${solr.contextRoot}/${solr.advancedsearch.core}/${solr.contentFileHandler}?overwrite=true&amp;#[flowVars['url']]"
        encoding="UTF-8" method="POST" exchange-pattern="request-response" contentType="#[flowVars['contentType']]"
        doc:name="Send Content File to SOLR"></https:endpoint>

    <flow name="jmsSendContentFileToSolr" doc:name="Send Content File to SOLR" doc:description="Send documents to the SOLR advanced search collection.
                           Payload must be a POJO - SolrAdvancedSearchDocument.java">

        <jms:inbound-endpoint queue="solrContentFile.in" exchange-pattern="request-response" connector-ref="ActiveMQ-ACM" doc:name="JMS"/>

        <timer-interceptor/>

        <!-- NOTE: Intellij IDEA incorrectly claims scripting:transformer is not allowed here. This XML is valid. -->
        <scripting:transformer name="obtainCmisConfiguration">
            <scripting:script engine="groovy">
                <scripting:text><![CDATA[
                    import org.mule.module.cmis.connectivity.CMISCloudConnectorConnectionManager;

                    String cmisConfigurationId = message.getInboundProperty("additionalProperties").get("cmis_repository_id_s");
                    if ( cmisConfigurationId != null )
                    {
                        CMISCloudConnectorConnectionManager configuration = muleContext.registry.lookupObject(cmisConfigurationId);
                        message.setInboundProperty("configRef", configuration);
                    }

                    return payload;
                    ]]>
                </scripting:text>
            </scripting:script>
        </scripting:transformer>

        <logger category="com.armedia.acm.services.search.service" level="DEBUG"/>

        <!-- Starting with Mule 3.7 we need to specifically set the Content-Type in Mule to be able to
             index content files -->
        <message-properties-transformer name="arkContentTypeTransformer">
            <add-message-property key="Content-Type" value="#[message.payload.content_type]"/>
        </message-properties-transformer>

        <set-variable variableName="docId" value="#[message.payload.id]"/>
        <set-variable variableName="contentType" value="#[message.payload.content_type]"/>
        <set-variable variableName="objectId" value="#[message.payload.object_id_s]"/>
        <set-variable variableName="url" value="#[message.inboundProperties.url]"/>

        <logger category="com.armedia.acm.services.search.service" level="DEBUG" message="Doc ID: #[flowVars['docId']]"/>

        <cmis:get-content-stream config-ref="#[message.inboundProperties.configRef]" objectId="#[message.payload.ecmFileId]"/>

        <set-payload value="#[message.payload.stream]"/>

        <https:outbound-endpoint ref="submitContentFilesSolrEndpoint">
            <response>
                <object-to-string-transformer/>
            </response>
        </https:outbound-endpoint>
    </flow>

</mule>
