acm-services/acm-service-search/src/main/resources/flows/quickSearchQueryFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      version="CE-3.5.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

    <http:endpoint name="http.quickSearchQuery"
                   address="http://${solr.host}:${solr.port}/${solr.contextRoot}/${solr.quicksearch.core}/${solr.searchHandler}?q=#[message.inboundProperties['query']]&amp;fq=#[message.outboundProperties['dataAccessFilter']]&amp;fq=#[message.outboundProperties['denyAccessFilter']]&amp;start=#[message.inboundProperties['firstRow']]&amp;rows=#[message.inboundProperties['maxRows']]&amp;wt=json&amp;sort=#[message.inboundProperties['sort']]&amp;#[message.inboundProperties['rowQueryParametars']]&amp;indent=true"
                   contentType="application/json; charset=UTF-8"
                   mimeType="application/json"
                   encoding="UTF-8"
                   method="GET"
                   exchange-pattern="request-response"
                   doc:name="Issue a quick search request to SOLR">
    </http:endpoint>

    <flow name="quickSearchQuery" doc:name="Quick Search Query Flow">
        <vm:inbound-endpoint
                address="vm://quickSearchQuery.in"
                exchange-pattern="request-response"
                doc:name="VM"/>


        <!-- NOTE: Intellij IDEA incorrectly claims scripting:transformer is not allowed here. This XML is valid. -->
        <scripting:transformer name="dataAccessControlFilters">
            <scripting:script engine="groovy">
                <scripting:text><![CDATA[
                    import org.springframework.security.core.Authentication;
                    import org.springframework.security.core.GrantedAuthority;
                    import java.net.URLEncoder;

                    // include records with no protected object field
                    // include records where protected_object_b is false
                    // include records where public_doc_b is true
                    String dataAccessFilter = "{!frange l=1}sum(if(exists(protected_object_b), 0, 1), if(protected_object_b, 0, 1), if(public_doc_b, 1, 0)";

                    Authentication authentication = message.getInboundProperty("acmUser");

                    // include records where current user is directly on allow_acl_ss
                    dataAccessFilter += ", termfreq(allow_acl_ss, '" + authentication.getName() + "')";

                    // exclude records where the user is specifically locked out
                    String denyAccessFilter = "-deny_acl_ss:" + authentication.getName();

                    for ( GrantedAuthority granted : authentication.getAuthorities() )
                    {
                        String authName = granted.getAuthority();
                        // include records where current user is in a group on allow_acl_ss
                        dataAccessFilter += ", termfreq(allow_acl_ss, '" + authName + "')";
                        // exclude records where current user is in a locked-out group
                        denyAccessFilter += " AND -deny_acl_ss:" + authName;
                    }

                    dataAccessFilter += ")";

                    message.setOutboundProperty("dataAccessFilter", URLEncoder.encode(dataAccessFilter, "UTF-8"));
                    message.setOutboundProperty("denyAccessFilter", URLEncoder.encode(denyAccessFilter, "UTF-8"));

                    return payload;
                    ]]>
                </scripting:text>
            </scripting:script>

        </scripting:transformer>

        <timer-interceptor/>

        <logger category="com.armedia.acm.plugins.search" level="DEBUG" />

        <http:outbound-endpoint ref="http.quickSearchQuery">
            <response>
                <object-to-string-transformer/>
            </response>

        </http:outbound-endpoint>

    </flow>

</mule>