activiti-tools/activiti-mule-listener/src/test/resources/activitiFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      version="CE-3.4.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">


    <flow name="activiti-flow" doc:name="Test flow for Activiti execution listeners">
        <vm:inbound-endpoint address="vm://activiti-flow" exchange-pattern="request-response" doc:name="VM"/>
        <logger level="INFO" message="Got message id #[message.id]"/>
        <logger level="INFO" message="Activiti process id: #[message.inboundProperties.processInstanceId]"/>
        <set-payload value="activiti flow completed: #[message.payload]"/>
    </flow>

</mule>